<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |field_name, field| -%>
    <% if should_render_show_field? document, field %>
        <% if field_name == "digital_objects" %>
          <div class="panel panel-default">
          <div class="panel-heading"><%= render_document_show_field_label document, field: field_name %></div>
          <div class="panel-body">
              <ol>
              <% @document['digital_objects'].sort.each do |value| %>
                 <% if value =~ /.*(?:wav|mp3|aiff)$/ %>
                  <li>
                      <audio id="audio" preload="false" controls="controls" src="<%= value -%>"></audio>
                      <span ><%= value.split('/')[-1].sub('%20',' ') -%></span>
                      <br>
                  </li>
                <% end %>
              <% end %>
            </ol>
            </div>
          </div>
          </dd>
        <% elsif field_name == "contents" %>
            <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
            <br/>
            <dd class="blacklight-<%= field_name.parameterize %>">
              <ol >
                <% @document['contents'].each do |value| %>
                  <li>
                      <p><%= value -%></p>
                  </li>
                <% end %>
              </ol >
            </dd>    
        <% else %>
            <dt class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></dt>
            <dd class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_value document, field: field_name %></dd>  
        <% end -%>
    <% end -%>
  <% end -%>
</dl>
